pipeline/Az_SpotifyProject.json
{
	"name": "Az_SpotifyProject",
	"properties": {
		"activities": [
			{
				"name": "AzureSQL_to_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last_CDC",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.Schema}.@{pipeline().parameters.Table} where @{pipeline().parameters.CDC_column} > '@{if( empty(pipeline().parameters.from_date),  activity('Last_CDC').output.value[0].cdc,  pipeline().parameters.from_date)} '     ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_AzureSQLdb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Parquet_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"Folder": {
								"value": "@pipeline().parameters.Table",
								"type": "Expression"
							},
							"File": {
								"value": "@concat(pipeline().parameters.Table, '_', variables('Current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Last_CDC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_JSON_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"Container": "bronze",
							"Folder": "CDC",
							"File": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Current",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Current",
					"value": {
						"value": "@utcNow()\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If_Incremental_Data",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "AzureSQL_to_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('AzureSQL_to_ADLS').output.dataRead, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Delete Empty File",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Parquet_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"Folder": {
											"value": "@pipeline().parameters.Table",
											"type": "Expression"
										},
										"File": {
											"value": "@concat(pipeline().parameters.Table, '_', variables('Current'))",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "update_last_CDC",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "max_cdc",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc",
											"value": {
												"value": "@activity('max_cdc').output.resultSets[0].rows[0].cdc",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_JSON_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Container": "bronze",
										"Folder": "CDC",
										"File": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_JSON_Dynamic",
									"type": "DatasetReference",
									"parameters": {
										"Container": "bronze",
										"Folder": "CDC",
										"File": "cdc.json"
									}
								}
							]
						},
						{
							"name": "max_cdc",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "select max(@{pipeline().parameters.CDC_column}) as cdc from @{pipeline().parameters.Schema}.@{pipeline().parameters.Table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Schema": {
				"type": "string"
			},
			"Table": {
				"type": "string"
			},
			"CDC_column": {
				"type": "string"
			},
			"from_date": {
				"type": "string"
			}
		},
		"variables": {
			"Current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}